@model MVCTaskP.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid px-4">
        <h1 class="m-5 text-center"><span class="text-danger">W</span>elcome To Dashboard <i class="fa glyphicon-facetime-video"></i> </h1>
        <h1 class="m-5 text-center text-capitalize text-danger">@Model.Name</h1>
    </div>
</main>


